{% extends 'VardiusAdminBundle::layout.html.twig' %}

{% block page_title %}
    {{ 'dashboard.page.title'|trans }}
{% endblock %}

{% block page_sub_title %}
    {{ 'dashboard.page.subtitle'|trans }}
{% endblock %}

{% block content %}
    <div class="row">
    </div>
{% endblock %}
