{% extends '@VardiusAdmin/layout.html.twig' %}

{% block page_title %}
    {{ 'action.page.show.title'|trans }}
{% endblock %}

{% block page_sub_title %}
    {{ 'action.page.show.subtitle'|trans }}
{% endblock %}

{% block navbar %}
    {% if ui is not defined or ui %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block page_header %}
    {% if ui is not defined or ui %}
        {{ parent() }}
    {% endif %}
{% endblock %}

{% block content %}
    <h3>override this layout to display content using data property as an entity</h3>
{% endblock %}
